# yaml-language-server: $schema=../schemas/talconfig.json
clusterName: pl-rcwz-homelab
endpoint: https://192.168.0.82:6443
kubernetesVersion: v1.30.0
talosVersion: v1.10.7

allowSchedulingOnMasters: true

nodes:
  - hostname: rpi51
    ipAddress: 192.168.0.82
    installDisk: /dev/nvme0n1
    controlPlane: true
    userVolumes: &user-volumes
      - name: persistent-data
        provisioning:
          diskSelector:
            match: disk.transport == "nvme"
          minSize: 200GB
          grow: true
    volumes: &volumes
      - name: EPHEMERAL
        provisioning:
          diskSelector:
            match: disk.transport == "nvme"
          minSize: 50GiB
          maxSize: 50GiB
    patches:
      # enable Talos API access for the core-talos namespace
      - |
        machine:
          features:
            kubernetesTalosAPIAccess:
              enabled: true
              allowedRoles:
                - os:admin
                - os:etcd:backup
              allowedKubernetesNamespaces:
                - core-talos

  - hostname: rpi52
    ipAddress: 192.168.0.94
    installDisk: /dev/nvme0n1
    controlPlane: false
    userVolumes: *user-volumes
    volumes: *volumes

patches:
  # use custom installer for Raspberry Pi 5, based on the work of:
  # https://github.com/siderolabs/sbc-raspberrypi/issues/23
  # https://github.com/talos-rpi5/talos-builder/releases/tag/v1.10.7-rpi5
  - |
    machine:
      install:
        image: ghcr.io/artuross/talos-installer:v1.10.7-rpi5

  # disable CNI and proxy to use Cilium
  - |
    cluster:
      network:
        cni:
          name: none
      proxy:
        disabled: true

  # configure GitHub Container Registry authentication
  - |
    machine:
      registries:
        config:
          ghcr.io:
            auth:
              username: artuross
              password: ${GITHUB_REGISTRY_TOKEN}

  # send logs to Vector
  - |-
    machine:
      # install:
      #   extraKernelArgs:
      #     - talos.logging.kernel=tcp://127.0.0.1:6050/

      logging:
        destinations:
          - endpoint: "tcp://127.0.0.1:6051/"
            format: "json_lines"

# kernel log config:
# apiVersion: v1alpha1
# kind: KmsgLogConfig
# name: test
# url: tcp://127.0.0.1:6050
#
# event log config:
# apiVersion: v1alpha1
# kind: EventSinkConfig
# endpoint: 127.0.0.1:6049
