apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: external-dns
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: external-dns
    app.kubernetes.io/version: 0.20.0
    helm.sh/chart: external-dns-1.20.0
  name: external-dns
  namespace: core-external-dns
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: external-dns
      app.kubernetes.io/name: external-dns
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: external-dns
        app.kubernetes.io/name: external-dns
    spec:
      automountServiceAccountToken: true
      containers:
        - args:
            - --log-level=info
            - --log-format=text
            - --interval=1m
            - --source=crd
            - --source=ingress
            - --source=service
            - --policy=upsert-only
            - --registry=txt
            - --txt-prefix=pl-rcwz-homelab-
            - --domain-filter=rcwz.pl
            - --managed-record-types=A
            - --managed-record-types=AAAA
            - --managed-record-types=CNAME
            - --provider=cloudflare
            - --cloudflare-dns-records-per-page=1000
          env:
            - name: CF_API_TOKEN
              valueFrom:
                secretKeyRef:
                  key: token
                  name: cloudflare
          image: registry.k8s.io/external-dns/external-dns:v0.20.0
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 2
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          name: external-dns
          ports:
            - containerPort: 7979
              name: http
              protocol: TCP
          readinessProbe:
            failureThreshold: 6
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsGroup: 65532
            runAsNonRoot: true
            runAsUser: 65532
      securityContext:
        fsGroup: 65534
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: external-dns
